

    .about-header{
      color: white;
      width: 200px;  
      margin:  auto; /* Center horizontally */
      margin-bottom: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      

      .up-header{
        font-size: 14px;
        font-weight: lighter;
      }   
      
      .border-bottom.about{
        border-radius: 5px;
        margin-top: 1rem;
        border-bottom: 5px solid var(--bg-color);
        width: 100%;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
      }
    }
    
      // about content
.about-content {
  
    p{
        line-height: 1.6em;
        text-align: justify;
        color: white;
       
        
    }

// button
.btn-container.section2{
    margin-top: 2rem;
    background-color:var(--btn-color);
    transition: background-color 0.1s;
   // transition: padding-left 0.5s;
   
   .read-more-btn{
    color:white;
   }
   
    &:hover{
      background-color:rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      
      font-weight: 600;
      box-shadow: 0 5px 10px rgb(255, 255, 255);
     
      &:hover a{
        color: rgb(0, 0, 0);
      transition: all 300ms ease-out;
      }
    }
  }
  
  // hiding from page when load and read more button to be clicked
  .read-more-text{
    display: none;
  }
}
