.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .form-center{
        width: 50%;
        position: relative;
         
    }
    
    
    .contact-header{
        color: white;
        width: 200px;  
        border-radius: 10px;
        margin: 0 auto; /* Center horizontally */
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
  
        .up-header{
          font-size: 14px;
          font-weight: lighter;
          margin-top: -15px; // many divs so this is needed
        }

        .border-bottom.contact{
            border-radius: 5px;
            margin-top: 1rem;
            border-bottom: 5px solid var(--bg-color);
            width: 100%;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
          }
    }
    
   
    
    .input-box{
        width:80%;
        margin: auto; // centering the center
        padding: 1rem;
        
        .input{
            margin-bottom: 1rem;

            input, textarea[type=text]{
                width: 100%;
                border: none;
                padding: 10px;
                border-radius: 5px;
                border-bottom: grey 1px solid;
                font-size: 14px;
                color: rgb(41, 40, 40);
                background-color: rgb(216, 210, 210);
                font-family: inherit; // inherist the global font family
            }
            /* capitalize the SUBJECT field */
            .subject{
                text-transform: uppercase;
            }

            ::placeholder {
                color: rgb(140, 138, 138);
                font-size: 12px;
                font-family: sans-serif;
                text-transform: uppercase;
            }

        // focus on both input, textarea when typing
       /* Apply common styles to both input and textarea when focused */
            input:focus,
            textarea:focus {
                background-color: white;
                border: 2px solid rgb(26, 184, 205);
            }
    }
     
        .heading{
            color: white;
            margin-bottom: 2rem;
            font-size: 24px;
        }


            // button
        .btn-container.form{
        margin-top: 2rem;
        background-color:var(--btn-color);
        transition: background-color 0.1s;
        width: auto;
        .form-btn{
        color:white;
        }

        &:hover{
            background-color:rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            transition: 0.2s;
            padding-right: 18px;
            font-weight: 600;
            box-shadow: 0 5px 10px rgb(255, 255, 255);
            

            &:hover a{
            color: rgb(0, 0, 0);
            }
        }
    }
        
}
      

    

