.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
    .form-center{
        width: 50%;
        position: relative;  
    
    }


    .contact-header{
        color: white;
        width: 200px;  
        border-radius: 10px;
        margin: 0 auto; /* Center horizontally */
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
  
        .up-header{
          font-size: 14px;
          font-weight: lighter;
        }

        .border-bottom.contact{
            border-radius: 5px;
            margin-top: 1rem;
            border-bottom: 5px solid var(--bg-color);
            width: 100%;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
          }
    }
    



   
   
    
    .input-box{
        
        width:70%;
        margin: 20px auto; 
        padding: 1rem;
        background-color: var(--second-bg-color);
        border-radius: 10px;
            
        .input{
            position: relative;
            width: 80%;
            margin: 15px auto;
            

            input, textarea[type=text]{
                width: 100%;
                border: none;
                padding: 10px;
               // border-radius: 5px;
                border-bottom: grey 1px solid;
                border-radius: 5px;
                font-size: 14px;
               // color: rgb(41, 40, 40);
                background-color: inherit;
                font-family: inherit; // inherist the global font family
            }

           
            
            /* capitalize the SUBJECT field */
            .subject{
                text-transform: uppercase;
            }
        

            ::placeholder {
                color: rgb(140, 138, 138);
                font-size: 12px;
                font-family: sans-serif;
                text-transform: uppercase;
            }

        // focus on both input, textarea when typing
       /* Apply common styles to both input and textarea when focused */
            input:focus,
            textarea:focus {
                background-color: rgb(255, 255, 255);
                outline: none; // to help validation with JS
                //border: 2px solid rgb(26, 184, 205);
                border-radius: 5px;
                
            }
    }

}



     
        .heading{
            color: white;
            margin-bottom: 2rem;
            font-size: 24px;
        }

        .btn-container.form {
            margin: auto;
            background-color: var(--btn-color);
            transition: background-color 0.1s;
            width: 50%; /* Adjust the width of the container */
        
            .form-btn {
                text-align: center;
                color: white;
                text-align: center;
                display: block;
                width: 100%; /* Adjust the width of the button */
            }
        
            &:hover {
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                transition: 0.2s;
                padding-right: 18px;
                font-weight: 600;
                box-shadow: 0 5px 10px rgb(255, 255, 255);
        
                &:hover a {
                    color: rgb(0, 0, 0);
                }
            }



            
        }
        


     
 /* Default text color for error message */

 /*  If you are validating additional fields and 
 want to apply the same red text color for error
  messages, you would indeed use a similar rule for each corresponding error message element in your HTML.  */
#name-error, #email-error, #phone-error, #subject-error, #textarea-error {
    color: red;
    font-size: small;
}
.form-center .input-box .input .valid {
    border-color: #05ad64;
    border-width: 2px;
}

.form-center .input-box .input .invalid {
    border-width: 2px; /* You can adjust this value to make the border thicker */
    border-color:red;
}






// google reCAPCTHA VALIDATION set to display none
// when user clicks submits will display block to check 
.g-recaptcha{
    margin: 25px;
    display: none;
    justify-content: center;
    align-items: center;
    
}
        

      

    

