
// Header
header {
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem 1rem 5rem;
    z-index: 100;

    // full name
    a {
      color:white;
      text-transform: uppercase;
      font-size: 14px;
      
      span{
        font-weight: 600;
      }
    }
  
    // navigation bar
    nav ul li{
      display: inline;
      margin: 1em; 
      position: relative;   
    
      a{
        color: white;
        text-transform: uppercase;
        font-size:14px;
        transition: border-bottom 0.5s linear;
      }
    }


    // border animation
    nav ul li::after{
      content: "";
      height: 3px;
      width:0;
      background: white;
      left: 0;
      bottom: -5px;
      position: absolute;
      transition: 0.5s;
    }

    nav ul li:hover::after{
      width: 100%;
    }

    #menu-icon{
      cursor: pointer;
    }
  }
  