
.home-curved-background{
    background-color:#7a7878;
    border-radius: 0 100% 0 0;
  }
  
  header {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 3rem 10rem 0 10rem;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  
  li{
    display: inline-block;
    margin-left: 5em;
    text-transform: uppercase;
    a, a:hover{
      color: #000;
      transition: 0.5s;
    }
    a:hover{
      padding-bottom: 5px;
      border-bottom: 2px solid black;
      border-radius: 5px;
      color: #000;
    }
  }
  
  li a:hover, a.active{
    color: #000000;
  }
  .active{
    font-weight: bold;
  }
  .logo {
    position: relative;
    font-size: 24px;
    text-decoration: none;
    color: #000;
  
    span{
      font-weight: bold;
    }
  }
  
  }
  
  .portfolio-img{
   width: 450px;
   height: 300;
   border-radius: 50%;
   border: 15px solid #da881e;;
  }
  
  section{
    min-height: 100vh;
    padding:15rem 9% 2rem;
  }
  .home{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-content h3{
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  .home-content h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
  }
  
  
  
  // social media icons
  .home-social-media {
    margin:1.6em 0 1.6em 0;
  
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      background-color:transparent;
      color:black;
      border-radius: 50%;
      transition: background-color 1s;
  
      &:hover {
        background-color: #a2a1a1;
        box-shadow: 0 0 1rem #f9f9f9;
      }
      i {
        font-size: 2rem;
      }
    }
  }
  
  // buttons
  .btn {
    color: #000;
    padding: 1em;
    border-radius: 2rem;
    border: none;
    font-weight: 400;
    background-color: #b3b1ad;
    box-shadow: rgba(63, 62, 62, 0.35) 0px 5px 15px;
    box-shadow: rgba(57, 57, 57, 0.17) 0px -23px 25px 0px inset, rgba(57, 57, 57, 0.17) 0px -36px 30px 0px inset, rgba(57, 57, 57, 0.17) 0px -79px 40px 0px inset, rgba(57, 57, 57, 0.17)0px 2px 1px, rgba(57, 57, 57, 0.17) 0px 4px 2px, rgba(57, 57, 57, 0.17)0px 8px 4px, rgba(57, 57, 57, 0.17) 0px 16px 8px, rgba(57, 57, 57, 0.17) 0px 32px 16px;
    text-transform: uppercase;
    transition: background-color 1s;
  
    i {
      padding: 0.5em;
    }
  
    &:hover {
      background-color: #a2a1a1;
      box-shadow: 0 0 1rem #f9f9f9;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  