
// Home section
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 100% 0 0;
  background-color: var(--second-bg-color);
  

  
// Add delay to home content as well as to image as I couldt manage in scroll reveal
@keyframes fadeInLeft {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }


  .home-content{
    width:auto;
    animation: fadeInLeft 3s;  // adding animation fadein to home content container
    
    h1,h3{
      font-size: 1.5rem;
    }
    h2{
      font-size: 3rem;
    }

    p{
      line-height: 1.6em;
      margin-top: 1rem;
      width: 90%;
      text-align: justify;
    }
  
    //Buttons
    .home-social-media{
      width: 150px;
      height:40px;
      margin:15px 0;
      display: flex;
      justify-content: center; 
      align-items: center; 
     
      a {
        padding-left: 0.5em;
        padding-right: 0.5em; 
        
        i{
          font-size: 24px;
          color: black;
        
          &:hover{
            transition: 0.2s;
            font-size: 30px;
           
          }
        }
      }
    }
    
  }
}

.btn-container.section1{
  background-color:var(--second-bg-color);
  transition: background-color 0.5s;
 // transition: padding-left 0.5s;
 
    a{
      color: black;
    }

    /* Initially hide the icon */
    .icon {
      display: none;
    }

    /* Show the icon when hovering over the .btn-container */
    .btn-container:hover .icon {
      display: inline-block;
    }


  &:hover{
    background-color:var(--bg-color);
    color: white;
    transition: 0.2s;
    box-shadow: 0 5px 10px rgb(7, 108, 136);
    padding-right: 18px;

    &:hover a{
      color: white;
    }
  }
}








// STYLING IMAGE with hover effect
.portifolio-img-container {
  border-radius: 50%;
  outline: 0.5px solid var(--bg-color);
  outline-offset: 50px;
  transition: transform 0.2s ease; /* Add a smooth transition effect */
  
  &:hover{  // push both image + outline border OUT
    transform: scale(1.2); /* Zoom out the image on hover (you can adjust the scale factor) */
    transition: transform 1.5s ease;
  }

  .portifolio-img {
   // animation: fadeInLeft 4s;   // adding animation fadein to image
    width: 350px;
    height: auto;
    border-radius: 50%;
  }

  
}

