.portifolio{
    background-color: var(--second-bg-color);

   
    .portifolio-header{
        width: 200px;  
        border-radius: 10px;
        margin: 0 auto; /* Center horizontally */
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
  
        .up-header{
          font-size: 14px;
          font-weight: lighter;
        }

        .border-bottom.portifolio{
            border-radius: 5px;
            margin-top: 1rem;
            border-bottom: 5px solid var(--second-bg-color);
            width: 100%;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
          }
}
}

/* .portifolio-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem; 
    background-color: #7bb8e9;
}  
 */


 //box container
.portifolio-box{
    margin-top: 2rem;
    display: grid;
    column-gap: 10px;
    row-gap:50px;
    grid-template-columns: auto auto auto;

   // card container
    .card{
        margin: auto;
        width:90%;
        height: auto;
        position: relative;
        transition: transform 0.5s ease;
        
        img{
            width: inherit;
            height: auto;
            border-radius: 5px;
            box-shadow: 5px 5px 20px rgb(46, 46, 46);
        }

        // headings
        .name{
            width: inherit;
            height: auto;
            background-color: var(--bg-color);
            color: white;
            position: absolute;
            bottom: 0;
            top: 0;
            text-align: center;
            padding-top: 2em;
            border-radius: 5px;
            //display: none;
            opacity: 0; 
            transition: opacity 0.2s ease;            
           
            h3{
                padding-bottom: 1em;
            
            } 
            p{
                font-size: 14px;
            }

            // hovers the name (shows the card)
            &:hover{
                opacity: 1; 
                display: block;
            }
        }

        // hovers the card (give scales)
        &:hover{
            transform: scale(0.9);  
            cursor: pointer;
        }  
    }



    // read more & go (link)          
    .to-go{
       
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        justify-content: space-between;


        .text-container{
            width: 300px;
            height: auto;
        }
        .read-more-card-text{
            font-size: 14px;
            z-index: 100;
            position: absolute;
            top: 0;
            left: 0;
            width: 125%;
            height: auto;
            display: none;
            background-color:rgb(225, 225, 225);
            color: black;
            padding: 15px;
            border-radius: 5px;
            text-align: justify;
            margin-bottom: 2rem;
            box-shadow: 10px 10px 25px rgb(46, 46, 46);
            
            // button close
        .hide-card-text{
           //  position: absolute;
           // bottom: 5px;
           // left: 50%;
            background-color:var(--bg-color);
            color:white;
            border-radius: 10px;
            padding: 5px;
            margin-left: 1rem;
            text-align: center;
        }
        
        .my-name{
            font-weight: 600;
            font-style: italic;
        }
        }
        a{  
            margin-right: 10px;
            text-decoration: none;
            color: white;
            font-size: 12px;
            i{
                font-size: 25px;
            }
        }

        &:hover .read-more{
        
            font-size: 12px;
            background-color: white;
            border-radius: 15px;
            color: black;
            padding: 5px;
            font-weight: 600;
        }
    } 
} 