.portifolio{
    background-color: var(--second-bg-color);
}
/* 
.portifolio-container{
    border: 2px solid red;
    width: 100%;
    height: 500px;
       
    .portifolio-box{
        margin: auto;
        border: 2px solid blue;
        width: 100%;
        height: auto;
        overflow: hidden;
        display: flex;
        
        .card{
            border: 2px solid yellowgreen;
            width: 250px;
            height: auto;
            margin: 1rem;
        img{
            width: fit-content;   

        }
        }
    }
}
 */

/* .portifolio-box{
    display: grid;
    column-gap: 25px;
    row-gap:10px;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
} 

.portifolio-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem; 
}
*/
/*  img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    height: 250px;   
    object-fit: cover; 
 } */

 /* .card{
    border-radius: 10px;
    width: 30%;
    background-color: aqua;
    padding: 10px;
    margin: 1rem;
    justify-content: center;
    align-content: center;
    box-shadow: 5px 5px 20px black;

} */

.portifolio-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem; 
}




.card{
   
    img{
        width: 100%;
    }

    .name{
        
       /*  position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
        color: white; */
        
    }
}