header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem 1rem 5rem;
  z-index: 100;
  /* // home 
  .active{
    border-bottom: 2.5px solid white;
  } */
}
header a {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
header a span {
  font-weight: 600;
}
header nav ul li {
  display: inline;
  margin: 1em;
  position: relative;
}
header nav ul li a {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  transition: border-bottom 0.5s linear;
  /*  &:hover {
     border-bottom: 1px solid white;
   } */
}
header nav ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: white;
  left: 0;
  bottom: -5px;
  position: absolute;
  transition: 0.5s;
}
header nav ul li:hover::after {
  width: 100%;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 100% 0 0;
  background-color: var(--second-bg-color);
}
.home .home-content {
  width: auto;
}
.home .home-content h1, .home .home-content h3 {
  font-size: 1.5rem;
}
.home .home-content h2 {
  font-size: 3rem;
}
.home .home-content p {
  line-height: 1.6em;
  margin-top: 1rem;
  width: 90%;
  text-align: justify;
}
.home .home-content .home-social-media {
  width: 150px;
  height: 40px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .home-content .home-social-media a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.home .home-content .home-social-media a i {
  font-size: 24px;
  color: black;
}
.home .home-content .home-social-media a i:hover {
  transition: 0.2s;
  font-size: 30px;
}

.btn-container.section1 {
  background-color: var(--second-bg-color);
  transition: background-color 0.1s;
  /* Initially hide the icon */
  /* Show the icon when hovering over the .btn-container */
}
.btn-container.section1 a {
  color: black;
}
.btn-container.section1 .icon {
  display: none;
}
.btn-container.section1 .btn-container:hover .icon {
  display: inline-block;
}
.btn-container.section1:hover {
  background-color: var(--bg-color);
  color: white;
  transition: 0.2s;
}
.btn-container.section1:hover:hover a {
  color: white;
}

.portifolio-img-container {
  border-radius: 50%;
  outline: 0.5px solid var(--bg-color);
  outline-offset: 50px;
  transition: transform 0.2s ease; /* Add a smooth transition effect */
}
.portifolio-img-container:hover {
  transform: scale(1.2); /* Zoom out the image on hover (you can adjust the scale factor) */
  transition: transform 1.5s ease;
}
.portifolio-img-container .portifolio-img {
  width: 350px;
  height: auto;
  border-radius: 50%;
}

.about-content {
  color: white;
}
.about-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.about-content p {
  line-height: 1.6em;
}
.about-content .btn-container.section2 {
  margin-top: 2rem;
  background-color: var(--btn-color);
  transition: background-color 0.1s;
}
.about-content .btn-container.section2 .read-more-btn {
  color: white;
}
.about-content .btn-container.section2:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: 0.2s;
  padding-right: 18px;
  font-weight: 600;
}
.about-content .btn-container.section2:hover:hover a {
  color: rgb(0, 0, 0);
}
.about-content .read-more-text {
  display: none;
}

.portifolio {
  background-color: var(--second-bg-color);
}
.portifolio h2 {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

/* .portifolio-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem; 
    background-color: #7bb8e9;
}  
 */
.portifolio-box {
  display: grid;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
}
.portifolio-box .card {
  margin: auto;
  width: 90%;
  position: relative;
}
.portifolio-box .card img {
  width: inherit;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgb(46, 46, 46);
}
.portifolio-box .card .name {
  width: 90%;
  background-color: var(--bg-color);
  color: white;
  position: absolute;
  bottom: 0;
  top: 0;
  text-align: center;
  padding-top: 2em;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.portifolio-box .card .name h3 {
  padding-bottom: 1em;
}
.portifolio-box .card .name p {
  font-size: 14px;
}
.portifolio-box .card:hover .name {
  opacity: 1;
  display: block;
}
.portifolio-box .card .to-go {
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.portifolio-box .card .to-go .text-container {
  width: 300px;
  height: auto;
}
.portifolio-box .card .to-go p {
  font-size: 14px;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 125%;
  height: auto;
  display: none;
  background-color: rgb(225, 225, 225);
  color: black;
  padding: 15px;
  border-radius: 5px;
  text-align: justify;
  margin-bottom: 2rem;
  box-shadow: 10px 10px 25px rgb(46, 46, 46);
}
.portifolio-box .card .to-go p span {
  background-color: var(--bg-color);
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin-left: 1rem;
  text-align: center;
}
.portifolio-box .card .to-go a {
  margin-right: 10px;
  text-decoration: none;
  color: white;
  font-size: 12px;
}
.portifolio-box .card .to-go a i {
  font-size: 25px;
}
.portifolio-box .card .to-go:hover .read-more {
  font-size: 12px;
  background-color: white;
  border-radius: 15px;
  color: black;
  padding: 5px;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color:rgb(9, 100, 123);
  --second-bg-color: #e9e6e6;
  --btn-color:#288da6;
  --font-family: "Poppins", sans-serif;
  --font-size: 16px;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  font-size: var(--font-size);
}

section {
  min-height: 100vh;
  width: 100%;
  padding: 10% 10% 5%;
}

.btn-container {
  background-color: var(--btn-color1);
  width: 165px;
  padding: 0.5em;
  text-align: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 25px;
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */