header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem 1rem 5rem;
  z-index: 100;
}
header a {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
header a span {
  font-weight: 600;
}
header nav ul li {
  display: inline;
  margin: 1em;
  position: relative;
}
header nav ul li a {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  transition: border-bottom 0.5s linear;
}
header nav ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: white;
  left: 0;
  bottom: -5px;
  position: absolute;
  transition: 0.5s;
}
header nav ul li:hover::after {
  width: 100%;
}
header #menu-icon {
  cursor: pointer;
}

.logo {
  position: absolute;
}

#google_translate_element {
  position: relative;
  top: 40px;
  left: 0;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 100% 0 0;
  background-color: var(--second-bg-color);
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.home .home-content {
  width: auto;
  animation: fadeInLeft 5s;
}
.home .home-content h1, .home .home-content h3 {
  font-size: 1.5rem;
}
.home .home-content h2 {
  font-size: 3rem;
}
.home .home-content p {
  line-height: 1.6em;
  margin-top: 1rem;
  width: 90%;
  text-align: justify;
}
.home .home-content .home-social-media {
  width: 150px;
  height: 40px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .home-content .home-social-media a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.home .home-content .home-social-media a i {
  font-size: 24px;
  color: black;
}
.home .home-content .home-social-media a i:hover {
  transition: 0.2s;
  font-size: 30px;
}

.btn-container.section1 {
  background-color: var(--second-bg-color);
  transition: background-color 0.5s;
  /* Initially hide the icon */
  /* Show the icon when hovering over the .btn-container */
}
.btn-container.section1 a {
  color: black;
}
.btn-container.section1 .icon {
  display: none;
}
.btn-container.section1 .btn-container:hover .icon {
  display: inline-block;
}
.btn-container.section1:hover {
  background-color: var(--bg-color);
  color: white;
  transition: 2s;
  box-shadow: 0 5px 10px rgb(7, 108, 136);
  padding-right: 18px;
}
.btn-container.section1:hover:hover a {
  color: white;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* Adjust the distance as needed */
  }
}
.portifolio-img-container {
  border-radius: 50%;
  outline: 0.5px solid var(--bg-color);
  outline-offset: 50px;
  transition: transform 0.5s ease; /* Add a smooth transition effect */
  animation: moveUpDown 2s infinite;
}
.portifolio-img-container:hover {
  transform: scale(1.2); /* Zoom out the image on hover (you can adjust the scale factor) */
  transition: transform 1.5s ease;
}
.portifolio-img-container .portifolio-img {
  width: 350px;
  height: auto;
  border-radius: 50%;
}

.about-header {
  color: white;
  width: 200px;
  margin: auto; /* Center horizontally */
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.about-header .up-header {
  font-size: 14px;
  font-weight: lighter;
}
.about-header .border-bottom.about {
  border-radius: 5px;
  margin-top: 1rem;
  border-bottom: 5px solid var(--bg-color);
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

.about-content p {
  line-height: 1.6em;
  text-align: justify;
  color: white;
}
.about-content .btn-container.section2 {
  margin-top: 2rem;
  background-color: var(--btn-color);
  transition: background-color 0.1s;
}
.about-content .btn-container.section2 .read-more-btn {
  color: white;
}
.about-content .btn-container.section2:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 600;
  box-shadow: 0 5px 10px rgb(255, 255, 255);
}
.about-content .btn-container.section2:hover:hover a {
  color: rgb(0, 0, 0);
  transition: all 300ms ease-out;
}
.about-content .read-more-text {
  display: none;
}

.portifolio {
  background-color: var(--second-bg-color);
}
.portifolio .portifolio-header {
  position: relative;
  width: 200px;
  border-radius: 10px;
  margin: 0 auto; /* Center horizontally */
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.portifolio .portifolio-header .up-header {
  font-size: 14px;
  font-weight: lighter;
}
.portifolio .portifolio-header .border-bottom.portifolio {
  border-radius: 5px;
  margin-top: 1rem;
  border-bottom: 5px solid var(--second-bg-color);
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

/* .portifolio-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem; 
    background-color: #7bb8e9;
}  
 */
.portifolio-box {
  position: relative;
  margin-top: 2rem;
  display: grid;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 75px;
  grid-template-columns: auto auto auto;
}
.portifolio-box .card {
  z-index: -1;
  margin: auto;
  width: 90%;
  height: auto;
  position: relative;
  transition: transform 0.5s ease;
}
.portifolio-box .card img {
  -o-object-fit: contain;
     object-fit: contain;
  width: inherit;
  height: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgb(46, 46, 46);
}
.portifolio-box .card .name {
  width: inherit;
  height: auto;
  background-color: var(--bg-color);
  color: white;
  position: absolute;
  bottom: 0;
  top: 0;
  text-align: center;
  padding-top: 2em;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.portifolio-box .card .name h3 {
  padding-bottom: 1em;
}
.portifolio-box .card .name p {
  font-size: 14px;
}
.portifolio-box .card .name:hover {
  opacity: 1;
  display: block;
}
.portifolio-box .card:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.portifolio-box .to-go {
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.portifolio-box .to-go .text-container {
  width: 300px;
  height: auto;
}
.portifolio-box .to-go .read-more-card-text {
  position: absolute;
  z-index: 1000;
  left: 10px;
  top: 30px;
  font-size: 14px;
  width: 350px;
  height: 220px;
  overflow: scroll;
  display: none;
  background-color: rgb(225, 225, 225);
  color: black;
  padding: 15px;
  border-radius: 5px;
  text-align: justify;
  margin-bottom: 2rem;
  box-shadow: 10px 10px 25px rgb(46, 46, 46);
}
.portifolio-box .to-go .read-more-card-text .hide-card-text {
  background-color: var(--bg-color);
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin-left: 1rem;
  text-align: center;
}
.portifolio-box .to-go .read-more-card-text .my-name {
  font-weight: 600;
  font-style: italic;
}
.portifolio-box .to-go a {
  margin-right: 10px;
  text-decoration: none;
  color: white;
  font-size: 12px;
}
.portifolio-box .to-go a i {
  font-size: 25px;
}
.portifolio-box .to-go:hover .read-more {
  font-size: 12px;
  background-color: white;
  border-radius: 15px;
  color: black;
  padding: 5px;
  font-weight: 600;
}

footer {
  width: 100%;
  background-color: var(--btn-color);
  height: 200px;
  border-top-left-radius: 50%;
  position: relative;
}
footer .scroll-up {
  position: absolute;
  bottom: 35px;
  right: 40px;
}
footer .scroll-up a {
  text-decoration: none;
}
footer .scroll-up a i {
  font-size: 25px;
  color: black;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
footer .scroll-up a i:hover {
  background-color: var(--bg-color);
  color: white;
  transition: 0.2s;
  box-shadow: 0 5px 10px rgb(255, 255, 255);
}
footer .scroll-up a i:hover:hover a {
  color: white;
}
footer .footer-content {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  text-align: center;
}
footer .footer-content .design, footer .footer-content .copy-rights {
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
  font-size: 16px;
}
footer .footer-content .design i, footer .footer-content .copy-rights i {
  padding-left: 0.5rem;
  font-size: 20px;
  font-weight: 600;
}
footer .footer-content .icons {
  width: 100%;
  height: 50px;
}
footer .footer-content .icons a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
footer .footer-content .icons a i {
  font-size: 24px;
  margin: 0.5rem;
}
footer .footer-content .icons a i:hover {
  transition: 0.2s;
  font-size: 24px;
  color: white;
  border-radius: 50%;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-center {
  width: 50%;
  position: relative;
}

.contact-header {
  color: white;
  width: 200px;
  border-radius: 10px;
  margin: 0 auto; /* Center horizontally */
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.contact-header .up-header {
  font-size: 14px;
  font-weight: lighter;
}
.contact-header .border-bottom.contact {
  border-radius: 5px;
  margin-top: 1rem;
  border-bottom: 5px solid var(--bg-color);
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

.input-box {
  width: 70%;
  margin: 20px auto;
  padding: 1rem;
  background-color: var(--second-bg-color);
  border-radius: 10px;
}
.input-box .input {
  position: relative;
  width: 80%;
  margin: 15px auto;
  /* capitalize the SUBJECT field */
  /* Apply common styles to both input and textarea when focused */
}
.input-box .input input, .input-box .input textarea[type=text] {
  width: 100%;
  border: none;
  padding: 10px;
  border-bottom: grey 1px solid;
  border-radius: 5px;
  font-size: 14px;
  background-color: inherit;
  font-family: inherit;
}
.input-box .input .subject {
  text-transform: uppercase;
}
.input-box .input ::-moz-placeholder {
  color: rgb(140, 138, 138);
  font-size: 12px;
  font-family: sans-serif;
  text-transform: uppercase;
}
.input-box .input ::placeholder {
  color: rgb(140, 138, 138);
  font-size: 12px;
  font-family: sans-serif;
  text-transform: uppercase;
}
.input-box .input input:focus,
.input-box .input textarea:focus {
  background-color: rgb(255, 255, 255);
  outline: none;
  border-radius: 5px;
}

.heading {
  color: white;
  margin-bottom: 2rem;
  font-size: 24px;
}

.btn-container.form {
  margin: auto;
  background-color: var(--btn-color);
  transition: background-color 0.1s;
  width: 50%; /* Adjust the width of the container */
}
.btn-container.form .form-btn {
  text-align: center;
  color: white;
  text-align: center;
  display: block;
  width: 100%; /* Adjust the width of the button */
}
.btn-container.form:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 600;
  box-shadow: 0 5px 10px rgb(255, 255, 255);
}
.btn-container.form:hover:hover a {
  color: rgb(0, 0, 0);
  transition: all 300ms ease-out;
}

/* Default text color for error message */
/*  If you are validating additional fields and 
want to apply the same red text color for error
 messages, you would indeed use a similar rule for each corresponding error message element in your HTML.  */
#name-error, #email-error, #phone-error, #subject-error, #textarea-error {
  color: red;
  font-size: small;
}

.form-center .input-box .input .valid {
  border-color: #05ad64;
  border-width: 2px;
}

.form-center .input-box .input .invalid {
  border-width: 2px; /* You can adjust this value to make the border thicker */
  border-color: red;
}

.g-recaptcha {
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgb(236, 238, 237);
}

.popup {
  position: relative;
  height: auto;
  width: 25%;
  text-align: center;
  background-color: #fff;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  display: none;
  /*set animation*/
  animation: fadeInTop 1s;
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Add some spacing below the icon */
}

.fa-circle-check {
  position: absolute;
  top: -70px;
  color: rgb(117, 189, 10);
  font-size: 70px;
  font-weight: lighter;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.thank-You {
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 1rem;
}

.message {
  text-align: center;
  font-size: 14px;
  padding: 10px 0 32px 0; /* 20px top and bottom, 0 left and right */
}

button {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  background-color: rgb(117, 189, 10);
  border: none;
  border-radius: 5px;
  padding: 15px;
  color: #fff;
}
button:hover {
  background-color: rgb(94, 151, 9);
  cursor: pointer;
  transition: 0.2s;
}

/* Width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--btn-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(194, 192, 192);
  border-radius: 5px;
  height: 150px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e0dede;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.scrollUpBtn {
  display: none;
  position: fixed;
  bottom: 35px;
  right: 40px;
  animation: fadeInLeft 1s;
}
.scrollUpBtn a {
  text-decoration: none;
}
.scrollUpBtn a i {
  font-size: 30px;
  color: rgb(90, 88, 88);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(194, 192, 192);
}
.scrollUpBtn a i:hover {
  background-color: var(--bg-color);
  color: white;
  transition: 0.2s;
  box-shadow: 0 5px 10px rgb(255, 255, 255);
}
.scrollUpBtn a i:hover:hover a {
  color: white;
}

.scrollUpBtn.show {
  display: block;
}

.scrollUpBtn.hide {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: rgb(9, 100, 123);
  --second-bg-color: #edecec;
  --btn-color: #288da6;
  --font-family: "Poppins", sans-serif;
  --font-size: 16px;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  font-size: var(--font-size);
}

section {
  min-height: 100vh;
  width: 100%;
  padding: 5% 10%;
}

#menu-icon {
  display: none;
  color: white;
}

.btn-container {
  background-color: var(--btn-color1);
  width: 165px;
  padding: 0.5em;
  text-align: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 25px;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
.btn {
  transition: all 300ms ease-out;
}

@media only screen and (max-width: 768px) {
  /* Your CSS rules for medium screens here */
  body header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 2rem;
    z-index: 100;
  }
  body section {
    min-height: 100vh;
    width: 100%;
    padding: 5% 5%;
  }
  body .portifolio-img-container {
    border-radius: 50%;
    outline: 0.5px solid var(--bg-color);
    outline-offset: 25px;
    transition: transform 0.2s ease; /* Add a smooth transition effect */
  }
  body .portifolio-img-container:hover {
    transform: scale(1.2); /* Zoom out the image on hover (you can adjust the scale factor) */
    transition: transform 1.5s ease;
  }
  body .portifolio-img-container .portifolio-img {
    width: 200px;
    height: auto;
    border-radius: 50%;
  }
  body .portifolio-box {
    margin-top: 2rem;
    display: grid;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 50px;
    grid-template-columns: auto auto;
  }
  body .form-center {
    width: 100%;
    position: relative;
    padding: 1rem;
  }
  body .form-center .input-box {
    width: 80%;
  }
  body .popup {
    width: 50%;
  }
  body .footer-content {
    width: 100%;
  }
}
/* Media query for mobile devices */
@media (max-width: 475px) {
  body header {
    position: relative;
  }
  body header .logo {
    font-style: italic;
  }
  body header #google_translate_element {
    position: relative;
    top: 55px;
  }
  body #menu-icon {
    display: block;
    color: white;
  }
  body .nav-bar {
    position: absolute;
    background-color: var(--bg-color);
    top: 100%;
    left: 0;
    width: 100%;
    border-top: 2px white solid;
    display: none;
    background-color: #666666;
  }
  body .nav-bar ul {
    list-style-type: none;
    padding: 0;
  }
  body .nav-bar li {
    margin: 0;
  }
  body .nav-bar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 14px 32px;
  }
  body .nav-bar a:hover {
    background-color: var(--bg-color);
  }
  body .home {
    padding: 10px 0 10px 0;
    border-radius: 0%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center-align text within the section */
  }
  body .home-content {
    margin-top: 4rem;
    position: relative;
    text-align: center; /* Center-align text within the .home-content div */
    justify-content: center;
    align-items: center;
  }
  body .home-content .hello {
    font-size: 15px;
  }
  body .home-content .name {
    font-size: 2rem;
  }
  body .home-content span {
    font-size: 1.5rem;
    font-size: 18px;
  }
  body .home-content p {
    font-size: 1rem;
    padding-left: 2rem;
    margin-bottom: 2.5rem;
  }
  body .home-social-media {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body .btn-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body .portifolio-img-container {
    outline: 0.5px solid var(--bg-color);
    outline-offset: 25px;
    margin: 2rem auto;
    width: 250px;
    height: 250px;
  }
  body .portifolio-img-container .portifolio-img {
    width: inherit;
    height: inherit;
  }
  body .portifolio-box {
    margin-top: 2rem;
    display: grid;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 50px;
    grid-template-columns: auto;
  }
  body .form-center {
    width: 100%;
    position: relative;
    padding: 1rem;
    margin: 0;
    padding: 0;
  }
  body .form-center .input-box {
    width: auto;
  }
  body .form-center .input-box input:focus,
  body .form-center .input-box textarea:focus {
    background-color: rgb(255, 255, 255);
    outline: none;
    border-radius: 5px;
  }
  body .form-center .input-box input,
  body .form-center .input-box textarea[type=text] {
    font-size: 16px;
  }
  body .form-center .input-box input:focus,
  body .form-center .input-box textarea:focus {
    outline: none;
  }
  body .btn-container.form {
    margin: 50px auto;
    width: 100%; /* Adjust the width of the container */
  }
  body .btn-container.form .form-btn {
    text-align: center;
    color: white;
    text-align: center;
    display: block;
    width: 100%; /* Adjust the width of the button */
  }
  body .popup {
    width: 75%;
  }
  body footer {
    overflow: hidden;
    height: 100px;
    border-radius: initial;
  }
  body footer .footer-content {
    position: relative;
    padding-top: 2rem;
    width: 100%;
  }
  body footer .footer-content .foot {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
  body footer .footer-content .foot.icons a i {
    font-size: 16px;
  }
  body .scrollUpBtn {
    bottom: 20px;
    right: 10px;
  }
  body .scrollUpBtn i {
    font-size: 20px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
  }
}/*# sourceMappingURL=main.css.map */