@import "./header.scss";
@import "./home.scss";
@import "./about.scss";
@import "./portifolio.scss";
@import "./contact.scss";
@import "./footer.scss";
@import "./form.scss";
@import "./popup.scss";

// reseting
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

// Global variables for colors, fonts, and spacing

:root {
    //--bg-color: #139c85;
    --bg-color: rgb(9, 100, 123);
    --second-bg-color: #edecec;
    --btn-color: #288da6;
    --font-family: "Poppins", sans-serif;
    --font-size: 16px;
}

//I use a pattern background for all and override section by section
body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    font-size: var(--font-size);
}

// global section
section {
    min-height: 100vh;
    width: 100%;
    padding: 5% 10% 5%;
}

#menu-icon {
    display: none;
    color: white;
}

.btn-container {
    background-color: var(--btn-color1);
    width: 165px;
    padding: 0.5em;
    text-align: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    /* Your CSS rules for medium screens here */

    body {
        header {
            //position: fixed;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1rem 1rem 2rem;
            z-index: 100;
        }
        section {
            min-height: 100vh;
            width: 100%;
            padding: 5% 5%;
        }
        .portifolio-img-container {
            border-radius: 50%;
            outline: 0.5px solid var(--bg-color);
            outline-offset: 25px;
            transition: transform 0.2s ease; /* Add a smooth transition effect */

            &:hover {
                // push both image + outline border OUT
                transform: scale(1.2); /* Zoom out the image on hover (you can adjust the scale factor) */
                transition: transform 1.5s ease;
            }

            .portifolio-img {
                width: 200px;
                height: auto;
                border-radius: 50%;
            }
        }
        .portifolio-box {
            margin-top: 2rem;
            display: grid;
            column-gap: 10px;
            row-gap: 50px;
            grid-template-columns: auto auto;
        }
        .form-center {
            width: 100%;
            position: relative;
            padding: 1rem;

            .input-box {
                width: 80%;
            }
        }

        .popup{
            width: 50%;
        }
        

        .footer-content {
            width: 100%;
        }

    }
}

/* Media query for mobile devices */
@media (max-width: 475px) {
    body {
        header {
            position: relative;
            .logo{
                font-style: italic;
            }
        }

        #menu-icon {
            display: block;
            color: white;
        }

        .nav-bar {
            position: absolute;
            background-color: var(--bg-color);
            top: 100%;
            left: 0;
            width: 100%;
            border-top: 2px white solid;
            display: none;
            background-color: #666666;

            ul {
                list-style-type: none;
                padding: 0;
            }

            li {
                margin: 0;
            }
            a {
                color: white;
                text-decoration: none;
                display: block;
                padding: 14px 32px;

                &:hover {
                    background-color: var(--bg-color);
                }
            }
        }
        .home {
            padding: 10px 0 10px 0;
            border-radius: 0%;
            display: block;
            justify-content: center;
            align-items: center;
            text-align: center; /* Center-align text within the section */
        }

        .home-content {
            margin-top: 1rem;
            position: relative;
            text-align: center; /* Center-align text within the .home-content div */
            justify-content: center;
            align-items: center;

            .hello{
                font-size: 15px;
            }

            .name{
                font-size: 2rem;
            }
           span{
            font-size: 1.5rem;
            font-size: 18px;
            
           }

            p {
                font-size: 1rem;
                padding-left: 2rem;
                margin-bottom: 2.5rem;
            }
           
        }

       
        .home-social-media {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .btn-container {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .portifolio-img-container {
            outline: 0.5px solid var(--bg-color);
            outline-offset: 25px;
            margin: 2rem auto;
            width: 250px;
            height: 250px;

            .portifolio-img {
                width: inherit;
                height: inherit;
            }
        }

        .portifolio-box {
            margin-top: 2rem;
            display: grid;
            column-gap: 10px;
            row-gap: 50px;
            grid-template-columns: auto;
        }

        .form-center {
            width: 100%;
            position: relative;
            padding: 1rem;
            margin: 0;
            padding: 0;

            .input-box {
                width: auto;

                input:focus,
                textarea:focus {
                    background-color: rgb(255, 255, 255);
                    outline: none; // to help validation with JS
                    //border: 2px solid rgb(26, 184, 205);
                    border-radius: 5px;
                    
                }
                
                input,
                textarea[type="text"] {
                    font-size: 16px;
                }
                input:focus,
                textarea:focus {
                    outline: none; // to help validation with JS                    
                }

                
            }
        }

        .btn-container.form {
            margin:50px auto;
            width: 100%; /* Adjust the width of the container */
            
            .form-btn {
                
                text-align: center;
                color: white;
                text-align: center;
                display: block;
                width: 100%; /* Adjust the width of the button */
            }
        }
        


        .popup{
            width: 75%;
        }
        
        // footer
      footer{
        overflow: hidden;
        height: 100px;
        border-radius: initial;  

        .footer-content {
           
            position: relative;
            padding-top: 2rem;
            width: 100%;
            
            .foot{
                margin: 0;
                padding: 0;
                font-size: 12px;
            }

            .foot.icons a i{
                font-size: 16px;
            }
            
            
        }
      }
        
    }
}
