
@import "./header.scss";
@import"./home.scss";
@import"./about.scss";
@import"./portifolio.scss";
@import"./contact.scss";
@import"./footer.scss";

// reseting
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}


// Global variables for colors, fonts, and spacing

:root {
  //--bg-color: #139c85;
  --bg-color:#09647b;
  --second-bg-color: #e9e6e6;
  --btn-color:#288da6;
  --font-family: 'Poppins', sans-serif;
  --font-size: 16px;
}


//I use a pattern background for all and override section by section
body{
  font-family: var(--font-family);
  background-color: var(--bg-color);
  font-size:var(--font-size);
}

// global section
section{
  min-height: 100vh;
  width: 100%;
  padding: 10% 10% 5%;
  }

.btn-container{
  background-color:var(--btn-color1);
  width: 165px;
  padding: 0.5em;
  text-align: center; 
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 25px;
  text-decoration: none;
  cursor: pointer;
}

  








