
@import"./home.scss";
@import"./about.scss";
@import"./portifolio.scss";
@import"./contact.scss";


//Body section style
$fontStack: "Poppins", "sans-serif"; // font style
$sectionColor1:#E49701; // color 
$sectionColor2:#A9A5A5; // color

//Buttons style
$borderNone: none; 
$btnColor1:#da881e;
$btnColor2:#7a7878;



*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  font-family:$fontStack;
}

body{
  background-color:#E49701;
  p{
    line-height: 1.6em;
    font-size: 1.2rem;
  }
}









